# Terraform-Specific Files and Directories

# Local Terraform directories (internal Terraform data)
**/.terraform/*

# Terraform state files (stores the current state of your infrastructure)
*.tfstate
*.tfstate.*

# Terraform variable definition files (often contain sensitive data like passwords/keys)
*.tfvars
*.tfvars.json

# Terraform override files (used for local customizations, not meant for sharing)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform lock files (prevent concurrent modifications)
.terraform.tfstate.lock.info

# Terraform plan output files (stores the execution plan)
.plan

# Terraform CLI configuration files
.terraformrc
terraform.rc

# Crash logs (generated if Terraform encounters an error)
crash.log
crash.*.log


# macOS-Specific Files and Directories

# General macOS files
.DS_Store
.AppleDouble
.LSOverride
Icon

# Thumbnails
._*

# Files in root of volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Files created on remote AFP shares
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
